.main-container{
    background-color: #f4f5f8;
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}
.sidebar-container{
    flex-grow: 0.3;
    /* border: 5px solid red; */
}
.workArea-container{
    flex-grow: 0.7;
    border: 5px solid blue;


}